
#include "windows.h"
#include "deb16fw.h"

IDI_ICON1 ICON "res/deb16fw.ico"

IDD_DIALOG1 DIALOG 24, 16, 120, 70
STYLE WS_BORDER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "deb16fw"
CLASS "deb16fw"
BEGIN
   CONTROL "Ok", IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 10, 50, 45, 14
   CONTROL "&Close", IDCANCEL, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 65, 50, 45, 14
END

